.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 16px;
    font-weight:100;
    background-color: #fffff4;
  }

* {
    box-sizing: border-box;
    font-family: IBM Plex Sans Thai;
  }

  .header-container {
    position: relative;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    color: #ff6f69;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ff6f69;
 }

 .section-profile {
    width: 350px;
    height: 350px;
    display: flex;
 }

 .profile-title {
    text-size-adjust: 20;
    align-items: center;

 }
 .nav-list {
        height: 20%;
        width: 100%;
        display: flex;
        align-items: center;
        list-style: none;
        font-size: 18px;
        background-color: #fff;
  }

  a {
    display: block;
    text-decoration: none;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%; 
  }

  .nav-link {
    padding: 0 20px;
    line-height: 25px;
    transition: 1.5s;
  }

.footer {
    display: flex;
    background-color: #ff6f69;
    align-content: center; 
}

.footer-image {
    align-items: center;
    display: flex;
    width: 20%;
    height: 75px;
    justify-content: space-around;
}

.footer-container {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 200;
    text-transform: uppercase;
}

.img {
    border-style: none;
}