@font-face{
    font-family: 'IBM_Plex_Sans_Thai';
    src: url("assets/fonts/IBM_Plex_Sans_Thai/IBMPlexSansThai-Bold.ttf");
    font-weight:500
}
@font-face{
    font-family: 'IBM_Plex_Sans_Thai';
    src: url("assets/fonts/IBM_Plex_Sans_Thai/IBMPlexSansThai-Medium.ttf");
    font-weight:300
}
@font-face{
    font-family: 'IBM_Plex_Sans_Thai';
    src: url("assets/fonts/IBM_Plex_Sans_Thai/IBMPlexSansThai-Light.ttf");
    font-weight:100
}

* {
    box-sizing: border-box;
  }

  body {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }